{% extends 'baseAdmin.html.twig' %}

{% block title %}Création d'un site{% endblock %}

{% block body %}

    <h3>Créer site</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">créer</button>
    {{ form_end(form) }}




{% endblock %}
 {% block title %}{{ parent() }} | Dashboard{% endblock %}


