{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Edit Sortie</h1>

    {{ include('sorties_display_filter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sorties_display_filter_index') }}">back to list</a>

    {{ include('sorties_display_filter/_delete_form.html.twig') }}
{% endblock %}
