{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sorties_display_filter/_form.html.twig') }}

    <a href="{{ path('app_sorties_display_filter_index') }}">back to list</a>
{% endblock %}
