{% extends 'sortie/detail.html.twig' %}
{% block title %}Détail sortie{% endblock %}



{% block buttons %}

    {% if sortie.users|length >= sortie.nbInscriptionMax %}
        <button type="button" class="btn btn-outline-secondary" disabled>Inscription complète</button>
    {% endif %}
        <a href="{{ path('app_dashboard-sortie') }}"><button type="button" class="btn btn-outline-danger">Retour à la liste</button></a>

    {% if is_granted('ROLE_ADMIN')
        and sortie.etat.libelle != 'Annulée'  %}
        <a href="{{ path('app_dashboard-sortie_annuler', {'id': sortie.id}) }}" type="button" class="btn btn-outline-danger" >Annuler</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN')
        and sortie.etat.libelle == 'Annulée'  %}
        <a href="{{ path('app_dashboard-sortie_reactiver', {'id': sortie.id}) }}" type="button" class="btn btn-outline-success" >Reactiver la sortie</a>
    {% endif %}

{% endblock %}