{% extends 'base.html.twig' %}




{% block title %}Sortir.com {% endblock %}

{% block body %}

   <h1>List Users</h1>

   <table>
      <tr>
         <th>Pseudo</th>
         <th>Email</th>
         <th>Action</th>
      </tr>

      {% for user in users %}
      <tr>

         <td>{{ user.pseudo }}</td>
         <td>{{ user.email }}</td>
         <td>
             <a href="{{ path('app_user_delete', {'id' : user.id}) }}"> <button  type="button" class="btn btn-outline-secondary">Supprimer Utilisateur</button></a>

         </td>

      </tr>
      {% endfor %}
   </table>


{% endblock %}